html,th,td,body
{ 
	font:10px ms sans serif;
	color: #333333; 
}
body {
   margin:0;
   padding:0;
   height:100%;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
.date_time {
	font-family: ms sans serif;
	font-size: 16px;
	font-weight: bold;
	color: #1E6B88;
}
.transparent { border:transparent !important;  background:transparent !important; }

.font_bar {
	font-family: ms sans serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
.font_bottom {font-family: ms sans serif; font-size: 11px; color: #B30000; font-weight: bold; }
.font_login {
	color: #008284;
	font-weight: bold;
	font-family: ms sans serif;
	font-size: 11px;
}
.font_icon_enable {
	color: #0975af;
	font-family: ms sans serif;
	font-size: 11px;
}
.font_icon_disable {
	color: #b3b2b2;
	font-family: ms sans serif;
	font-size: 11px;
}
.shortcut_menu {
	color: #0a62ac;
	font-weight: bold;
	font-family: ms sans serif;
	font-size: 11px;
}
div.menu_report{
    position: relative;
	height:90px;
	width:92px;
	background:url('/pos/images/icon_menu/bg_botton.png') 0 0 no-repeat;
	border:0px solid #222;
	cursor: move;
	z-index: 5;
	opacity:0.9;filter:alpha(opacity=90);
}
div.menu_report:hover {
	height:90px;
	width:92px;
	background:url('/pos/images/icon_menu/bg_botton.png') 0 -90px no-repeat;
	cursor: move;
	opacity:100;filter:alpha(opacity=100);
	z-index: 5;
}
div.menu_report:active {
	height:90px;
	width:92px;
	background:url('/pos/images/icon_menu/bg_botton.png') 0 -180px no-repeat;
   	cursor: move;
}
.mainmenu ul{
	border:0px solid #111;
}

.mainmenu ul li{
	margin: 0;
	padding: 15;
	position: relative;
	display: inline;
	float: left;
}
.mainmenu ul li title{
	color: #0975af;
	font-family: ms sans serif;
	font-size: 11px;
	width:80px;
	display: block;
	text-align:center;
	padding: 6px 6px;
    padding-left: -3px; right: 3px;
    border:0px solid #111;
	text-decoration: none;
	background:url('/pos/images/icon_menu/shadow_enable.png');
	opacity:0.8;filter:alpha(opacity=100);
	background-repeat:no-repeat
}

.servBodL_right {
border-bottom: 1px #0992b4 dotted;
text-align: right;
font:12px Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0e4e8a;
 }

.Big_servBodL_right {
border-bottom: 1px #0f65bb dotted;
text-align: right;
font:13px Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #404040;
background-color: #e2f2fc;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 4px;
padding-right: 4px; }

.bigfont{
	color: #000000;
	font-family: ms sans serif;
	font-size: 20px;
	background-color: #ffffff;
}

.longfont{
	color: #000000;
	font:14px Verdana, Geneva, Arial, Helvetica, sans-serif;
