.table{ 
	border:1px solid #38cb7b;
	height:23px;
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif; color:#000000;
	font-size:20px;
	
	text-align:center;
}

.td_u{ 
	border-bottom:1px solid #38cb7b;
	height:23px;
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif; color:#000000;
	font-size:20px;
	
	text-align:center;
}

.head_shelf{
	border-bottom:1px solid #3ed482;
	border-right:1px solid #3ed482;
	height:23px;
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif; color:#000000;
	font-size:20px;
	
	text-align:center;
	background-color:#8bdfb1;
}

.head_sub_shelf{
	border-bottom:1px solid #3ed482;
	border-right:1px solid #3ed482;
	height:20px;
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif; color:#000000;
	font-size:20px;
	
	text-align:center; 
	background-color:#afeecb;
}

.text_head{
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif; color:#ffffff;
	font-size:20px;
	
	text-align:left;
	height:35px;
}

.sub_text_head{
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif; color:#000000;
	font-size:20px;
	
	text-align:left;
}

.sub_text_on_product{
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif; color:#000000;
	font-size:17px;
	background:#ffffff;
	text-align:left;
}

.sub_text_head_form{
	border-bottom: 1px #0992b4 dotted;
	text-align: right;
	font:20px PSLKittithadaBold, Geneva, Arial, Helvetica, sans-serif;
	color: #0e4e8a;
}

.input{
	background:#e4fbef;
	border:1px solid #059345; 
	height:25px;
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif;
	font-size:20px;
	text-align:left;
}

.td_sub_shelf{ 
	border-bottom:1px solid #0dab55;
	height:22px;
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif; color:#000000;
	font-size:12px;
	
	text-align:left;
}

.td_sub_shelf_pord{ 
	border-right:1px solid #0dab55;
	height:50px;
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif; color:#000000;
	font-size:20px;
	text-align:left;
}

.txt_bold{ 
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif; color:#000000;
	font-size:20px;
	
}

.txt_bold_active{ 
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif; color:#03693f;
	font-size:20px;
	
}

.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
	.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
	
	a.fg-button { float:left; }
	
	/* remove extra button width in IE */
	button.fg-button { width:auto; overflow:visible; }
	
	.fg-button-icon-left { padding-left: 2.1em; }
	.fg-button-icon-right { padding-right: 2.1em; }
	.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
	.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
	
	.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	
	
	.fg-buttonset { float:left; }
	.fg-buttonset .fg-button { float: left; }
	.fg-buttonset-single .fg-button, 
	.fg-buttonset-multi .fg-button { margin-right: -1px;}
	
	.fg-toolbar { padding: .5em; margin: 0;  }
	.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
	.fg-toolbar .fg-button { font-size: 1em;  }
.mainmenu ul li title{
	color: #0975af;
	font-family:PSLKittithadaBold;
	font-size: 20px;
	width:80px;
	display: block;
	text-align:center;
	padding: 6px 6px;
    padding-left: -3px; right: 3px;
    border:0px solid #111;
	text-decoration: none;
	background:url('/pos/images/icon_menu/shadow_enable.png');
	opacity:0.8;filter:alpha(opacity=100);
	background-repeat:no-repeat
}

.txt_input_search{
	background:#e4fbef;
	border:1px solid #059345; 
	height:25px;
	font-family:PSLKittithadaBold, Arial, Helvetica, sans-serif;
	font-size:20px;
	text-align:left;
}

.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }